<div class="item{% unless no_grid_item_class %} grid__item{% endunless %}{% if additional_classes %} {{ additional_classes }}{% endif %}"{% if additional_data %} {{ additional_data }}{% endif %}>
  <div class="item__top">
    <div class="item__media">
      <a class="item__image" href="#">
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
    </div>
  </div>
  <div class="item__bottom text-center">
    <div class="item__info">
      <a class="item__name" href="#">
        {{ 'homepage.onboarding.product_title' | t }}
      </a>
      {%- render 'product-price' -%}
    </div>
  </div>
</div>