{%- if template.suffix != 'quick_view' -%}
<h1 class="product-single__title w100 dib gutter-ele-top-tbs" style="margin-top: 0;">{{ product.title }}</h1>
{%- else -%}
<span class="product-single__title w100 dib gutter-ele-top-tbs h1" style="margin-top: 0;">{{ product.title }}</span>
{%- endif -%}