.wicon-star:before {
  content: "\e925";
}
.wicon-star-solid:before {
  content: "\e926";
  color: #efce4a;
}
.wicon-interface:before {
  content: "\e93d";
}
.wicon-question:before {
  content: "\e924";
}
.wicon-right-chevron:before {
  content: "\e922";
}
.wicon-left-chevron:before {
  content: "\e923";
}
.wicon-sold:before {
  content: "\e91f";
}
.wicon-like:before {
  content: "\e920";
}
.wicon-liked:before {
  content: "\e921";
}
.wicon-list:before {
  content: "\e91a";
}
.wicon-grid-large:before {
  content: "\e91b";
}
.wicon-grid-medium:before {
  content: "\e91c";
}
.wicon-grid-very-large:before {
  content: "\e91d";
}
.wicon-icons-01:before {
  content: "\e600";
}
.wicon-icons-02:before {
  content: "\e601";
}
.wicon-icons-03:before {
  content: "\e602";
}
.wicon-icons-04:before {
  content: "\e603";
}
.wicon-icons-05:before {
  content: "\e604";
}
.wicon-icons-06:before {
  content: "\e605";
}
.wicon-icons-07:before {
  content: "\e606";
}
.wicon-icons-08:before {
  content: "\e607";
}
.wicon-icons-09:before {
  content: "\e608";
}
.wicon-icons-10:before {
  content: "\e609";
}
.wicon-icons-11:before {
  content: "\e60a";
}
.wicon-icons-12:before {
  content: "\e60b";
}
.wicon-icons-13:before {
  content: "\e60c";
}
.wicon-icons-14:before {
  content: "\e60d";
}
.wicon-icons-15:before {
  content: "\e60e";
}
.wicon-icons-16:before {
  content: "\e60f";
}
.wicon-icons-17:before {
  content: "\e610";
}
.wicon-icons-18:before {
  content: "\e611";
}
.wicon-icons-19:before {
  content: "\e612";
}
.wicon-icons-20:before {
  content: "\e613";
}
.wicon-icons-21:before {
  content: "\e614";
}
.wicon-icons-22:before {
  content: "\e615";
}
.wicon-icons-23:before {
  content: "\e616";
}
.wicon-icons-24:before {
  content: "\e617";
}
.wicon-icons-25:before {
  content: "\e618";
}
.wicon-icons-26:before {
  content: "\e619";
}
.wicon-icons-27:before {
  content: "\e61a";
}
.wicon-icons-28:before {
  content: "\e61b";
}
.wicon-icons-29:before {
  content: "\e61c";
}
.wicon-icons-30:before {
  content: "\e61d";
}
.wicon-icons-31:before {
  content: "\e61e";
}
.wicon-icons-32:before {
  content: "\e61f";
}
.wicon-icons-33:before {
  content: "\e620";
}
.wicon-icons-34:before {
  content: "\e621";
}
.wicon-icons-35:before {
  content: "\e622";
}
.wicon-icons-36:before {
  content: "\e623";
}
.wicon-icons-37:before {
  content: "\e624";
}
.wicon-icons-38:before {
  content: "\e625";
}
.wicon-icons-39:before {
  content: "\e626";
}
.wicon-icons-40:before {
  content: "\e627";
}
.wicon-icons-41:before {
  content: "\e628";
}
.wicon-icons-42:before {
  content: "\e629";
}
.wicon-icons-43:before {
  content: "\e62a";
}
.wicon-icons-44:before {
  content: "\e62b";
}
.wicon-icons-45:before {
  content: "\e62c";
}
.wicon-icons-46:before {
  content: "\e62d";
}
.wicon-icons-47:before {
  content: "\e62e";
}
.wicon-expand:before {
  content: "\e91e";
}
.wicon-calendar:before {
  content: "\e919";
}
.wicon-comments:before {
  content: "\e918";
}
.wicon-feed:before {
  content: "\e906";
}
.wicon-rss:before {
  content: "\e906";
}
.wicon-angle-double-right:before {
  content: "\e907";
}
.wicon-angle-double-left:before {
  content: "\e908";
}
.wicon-tumblr:before {
  content: "\e909";
}
.wicon-whatsapp:before {
  content: "\e90a";
}
.wicon-google-plus:before {
  content: "\e90b";
}
.wicon-vimeo:before {
  content: "\e90c";
}
.wicon-youtube-play:before {
  content: "\e911";
}
.wicon-instagram:before {
  content: "\e912";
}
.wicon-pinterest:before {
  content: "\e913";
}
.wicon-facebook:before {
  content: "\e914";
}
.wicon-facebook-f:before {
  content: "\e914";
}
.wicon-twitter:before {
  content: "\e915";
}
.wicon-snapchat:before {
  content: "\e901";
}
.wicon-map-pin:before {
  content: "\e902";
}
.wicon-pin:before {
  content: "\e902";
}
.wicon-location:before {
  content: "\e902";
}
.wicon-truck:before {
  content: "\e903";
}
.wicon-transport:before {
  content: "\e903";
}
.wicon-transaction:before {
  content: "\e903";
}
.wicon-shipping:before {
  content: "\e903";
}
.wicon-check:before {
  content: "\e900";
}
.wicon-paper-plane:before {
  content: "\e904";
}
.wicon-quote:before {
  content: "\e905";
}
.wicon-home:before {
  content: "\e800";
}
.wicon-pencil:before {
  content: "\e802";
}
.wicon-envelope:before {
  content: "\e818";
}
.wicon-picture:before {
  content: "\e827";
}
.wicon-user:before {
  content: "\e82a";
}
.wicon-map-marker:before {
  content: "\e833";
}
.wicon-earth:before {
  content: "\e853";
}
.wicon-sync:before {
  content: "\e862";
}
.wicon-clock:before {
  content: "\e864";
}
.wicon-funnel:before {
  content: "\e88f";
}
.wicon-plus:before {
  content: "\e917";
}
.wicon-minus:before {
  content: "\e916";
}
.wicon-log-out:before {
  content: "\e90d";
}
.wicon-log-in:before {
  content: "\e90e";
}
.wicon-pause:before {
  content: "\e90f";
}
.wicon-dollar-sign:before {
  content: "\e910";
}