/*--------------------Variables----------------------*/
/*General*/
$bkg_body: #ffffff; /*body background*/
$color_general: #000000; /*general color*/
$color_hover: #999999;
$fm_second: 'Lato', sans-serif;/*font family general*/
$fs_general: 14px;/*font size general*/
$fm_general: 'Lato', sans-serif;
$color_general_light: rgba(0, 0, 0, 0.4);
$color_general_blur: rgba(0, 0, 0, 0.05);
$color_white: #fff;

/*Header*/
$fs_cart_number: 13px;
$padding_header_link: 12px;/*padding header link*/
$padding_header_link_mobile: 5px;/*padding header link on table*/
$fs_header_link_mobile: 25px;/*done*/
$bkg_header_mobile: #fff;
$color_header_mobile: #222;
$border_header_mobile: rgba(34, 34, 34, 0.1);

/*Font weight*/
$fw_thin: 300;
$fw_normal: 400;
$fw_bold: 700;
$fw_super_bold: 900;

/*Transition*/
$transition: ease-in-out all 0.3s;

/*Border radius*/
$b_r: 5px;/*border radius*/

/*Section title*/
$fs_st: 30px;/*font size section title*/
$fs_st_mobile: 20px;/*font size section title mobile*/
$color_st: #000000;/*color section title*/

/*Sections Sub Title*/
$fs_sst: 20px;/*font size section title*/
$fs_sst_mobile: 11px;/*font size section title mobile*/
$color_sst: #333333;/*color section title*//*done*/

/*Item*/
$fs_item: 18px;/*font size item*/
$color_item: #000000;
$fs_price: 16px;
$fs_compare_price: 14px;
$color_price: #595858;
$color_compare_price: #727272;
$gutter-item-buttons: 20px;
$swatch_size: 20px;
$swatch_border_color: #cccccc;
$swatch_select_width: 97px;

/*Buttons*/
/*button style 1*/
$color_btn_s1: #ffffff;
$border_btn_s1: #6990cb;
$bkg_btn_s1: #6990cb;
$color_btn_s1_hover: #fff;
$border_btn_s1_hover: #79a6e9;
$bkg_btn_s1_hover: #79a6e9;
$w_h_btn_s1_circle: 30px;/*width height button style 1 circle*/
/* button style 2 */
$color_btn_s2: #333333;
$border_btn_s2: #cccccc;
$bkg_btn_s2: #ffffff;
$color_btn_s2_hover: #ffffff;
$border_btn_s2_hover: #333333;
$bkg_btn_s2_hover: #333333;
/*button style 3*/
$color_btn_s3: #ffffff;
$border_btn_s3: #ffffff;
$bkg_btn_s3: rgba(0,0,0,0);
$color_btn_s3_hover: #ffffff;
$border_btn_s3_hover: #79a6e9;
$bkg_btn_s3_hover: #79a6e9;
/* cart button on product page */
$fs_btn_cart: 12px;
$fs_btn_cart_mobile: 12px;
$height_button: 45px;
$border_btn_cart: #6990cb;/*button cart style*/
$bkg_btn_cart: #ffffff;

/*Tab title*/
$fs_tt: 16px;/*font size tab title*/
$fs_tt_mobile: 22px;/*font size tab title mobile*/
$color_tt_mobile: #999;/*color tab title*/
$color_tt_hover_mobile: #6990cb;/*color tab title hover*/
$color_tt: #000000;/*color tab title*/
$color_tt_hover: #ffffff;/*color tab title hover*/
$border_tab_color: #ddd;/*background tab title*/
$tab_bkg_active_item_single: #dedede;
$tab_item_active_color_single: #000;
$tab_border_item_single: #ddd;
$tab_bkg_single: #f7f7f7;

/*Navigation*/
$bkg_nav_item_dropdown: #ffffff;/*background dropdown nav item*/
$padding_link_list: 8px;/*padding left and right for link list*/
$padding_item_dropdown: 10px; /*padding item dropdown*/
$padding_link-list-dropdown: 30px; /*padding link list dropdown*/
$color_link: #000000; /*color link*/
$color_nav_link: #000000;/*color nav link*/
$color_nav_link_hover: #999999;/*color nav link hover*/
$bkg_nav_item_hover: transparent;/*background nav item hover*/
$color_nav_item_hover: #999999;/*color nav item hover*/
$fs_dropdown_title: 25px;/*font size dropdown title*//*done*/
$fs_dropdown_content: 13px;/*font size dropdown content*//*done*/
$left_item_label_dropdown: 50px;/*left position item label dropdown*/
$top_item_label_dropdown: -7px;/*top position item label dropdown*/
$fs_item_label: 10px;/*font size item label*//*done*/
$fs_nav_item: 17px;/*font size nav item*//*done*/
$top_nav_item_label: -15px;/*top position of nav item label*/
$right_nav_item_label: 0;/*right position of nav item label*/
$dropdown_triangle: 15px;
/*Header cart*/

/* Sidebar Canvas */
$width_sidebar_canvas: 340px;
$bkg_sidebar_canvas: #ffffff;
$padding_sidebar_canvas: 25px;

/*Box shadow*/
$value_shadow: rgba(0, 0, 0, 0.15);

/*Slick slider*/
$fs_icon_slick: 17px;

$gutter-top: 20px;/*gutter top*/
$gutter-bottom: 20px;/*gutter bottom*/
$gutter-element: 10px;/*gutter - for element*/
$padding-grid-item: 15px;/*padding grid item*/
$padding-grid-item-mobile: 10px;/*padding grid item*/


/*Product page*/
$bkg_product_single: #d6f3ee;
$fs_product_price_sale_single: 30px;
$fs_product_price_sale_single_mobile: 20px;
$wh_option_single: 30px;
$wh_qty: 30px;
$wh_qty_single: 45px;
$color_border_qty: #ccc;
$bg_qty: #f5f5f5;

/*Footer*/
$bkg_footer: #333333;/*background footer*/
$fs_footer_column_title: 16px;/*font size footer column title*/
$color_footer_column_title: #ffffff;/*color footer column title*/
$fs_footer_column_content: 15px;/*font size footer column content*/
$color_footer_column_content: #f9f9f9;/*color footer column content*/
$color_footer_column_content_hover: #6990cb; /*color footer link hover*/
$footer_padding: 25px; /*padding top/bottom footer*/
$height_newsletter: 30px;/*height newsletter*/
$br_newsletter: 0;/*border radius newsletter*/
$bkg_newsletter: transparent;/*background input newsletter*/
$fs_social_icon: 21px;/*font size social icons*/

/*Input field*/
$border_input: #f5f5f5;/*border color input*/
$border_input_focus: #999999;/*border color input focus*/
$fs_input_label: 15px;
$fs_input_label_focus: 12px;
$height_input_field: 37px;

/*Compare popup*/
$fs_popup_badge: 25px;
$color_popup_badge: #2cb752;

/*Pop up cart*/
$fs_price_cart_response: 16px;

/*Sticky cart*/
$w_h_swatch_sc: 30px;
$sticky_action: 43px;

/*Search input*/
$height_search: 35px;
$border_search: $border_input;

/*Blog page*/
$fs_article_title: 18px;
$fs_article_title_big: 25px;
$fs_sidebar_title: 20px;
$fs_date_author: 12px;
$color_date_author: #ffffff;
$color_article_title: #ffffff;
$fs_article_tag: 13px;

/*Collection page*/
$fs_cf_item_title: 20px;
$wh_swatch: 30px;

/*Rating*/
$color_stars: #ca9c3a;

/*Cart page*/
$color_border_table: #e9e9e9;
$wh_input_cart: 37px;
$fs_icon_cart: 17px;

/* Responsive screen */
$mobile_width: 767px;
$min_tablet_small_width: 768px;
$max_tablet_small_width: 991px;
$min_tablet_large_width: 992px;
$max_tablet_large_width: 1199px;
$desktop_width: 1200px;

/*Mixins*/
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } 
    @else if $prefix == moz {
      -moz-#{$property}: $value;
    } 
    @else if $prefix == ms {
      -ms-#{$property}: $value;
    } 
    @else if $prefix == o {
      -o-#{$property}: $value;
    } 
    @else if $prefix == spec {
      #{$property}: $value;
    } 
    @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin opacity($v1, $v2) {
  opacity: $v1;
  filter: alpha(opacity=$v2);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$v2)";
}
@mixin transition($transition) {
  @include prefix(transition, $transition, ms webkit spec);
}
@mixin display-flex() {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}
@mixin border-radius($border-radius) {
  @include prefix(border-radius, $border-radius, ms webkit spec); 
}
/*justify-content: center|left|right*/
@mixin justify-content($var) {
  @include prefix(justify-content, $var, moz ms spec);
}

/*align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit;*/
@mixin align-items($value: stretch) {
  $alt-value: $value;

  @if $value == 'flex-start' {
    $alt-value: start;
  } @else if $value == 'flex-end' {
    $alt-value: end;
  }

  /* sass-lint:disable no-misspelled-properties*/
  -ms-flex-align: $alt-value;
  @include prefix(align-items, $value, webkit moz ms o spec);
}
@mixin box-shadow($box-shadow){  
  @include prefix(box-shadow, $box-shadow, moz webkit spec); 
}
@mixin filter($filter) {
  @include prefix(filter, $filter, webkit);
}
@mixin transform($transform) {
  @include prefix(transform, $transform, ms webkit spec);
}
@mixin flex-direction($value) {
  @include prefix(flex-direction, $value, ms webkit spec moz);
}
@mixin backface_visibility($value) {
  @include prefix(backface_visibility, $value, ms webkit);
}
@mixin animation($value) {
  @include prefix(animation, $value, ms webkit spec moz);
}
@mixin loading-ajax($width, $height) {
  content: '';
  font-size: $width;
  display: inline-block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid;
  border-right-color: transparent;
}
@mixin loading-icon($width, $height) {
  content: '';
  font-size: 20px;
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right-color: transparent;
  -webkit-animation: spin 2s ease-out infinite;
  animation: spin 2s ease-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin loading-bkg($value) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $value;
  z-index: 2;
}

/*-------------- Home page -------------------*/
@mixin flex-basis($width: auto) {
  // sass-lint:disable no-misspelled-properties
  -ms-flex-preferred-size: $width;
  @include prefix(flex-basis, $width, webkit moz spec);
}

@mixin flex-wrap($value: nowrap) {
  @include prefix(flex-wrap, $value, webkit moz ms spec);
}

@mixin flex-direction($value) {
  @include prefix(flex-direction, $value, webkit moz ms spec);
}

@mixin align-content($align: center) {
  @include prefix(align-content, $align, webkit ms spec);
}
/*-------------- End Home page -------------------*/

.product-price--single {
  s.product-price__price {
    font-size: 20px;
  }
  span.product-price__price {
    font-size: $fs_product_price_sale_single;
    font-weight: $fw_thin;
    @media(max-width: $mobile_width) {
      font-size: $fs_product_price_sale_single_mobile;
    }
  }
}
.product-price__varying {
  padding: 0 10px;
  font-size: 40px;
}
@media(max-width: $max_tablet_small_width) {
  .product-review-masonry {
    margin-top: 0!important;
  }
}
.pg__mains {
  .slick-arrow {
    background: $color_general_light;
    color: $bkg_body;
    width: 28px;
    height: 48px;
    line-height: 48px;
    &:hover {
      background: $color_general;
    }
  }
}
.product-single {
  .pg__review-stars {
    font-size: 13px;
  }
  @media(max-width: $mobile_width) {
    hr {
      border-width: 3px;
      margin-left: -$padding-grid-item !important;
      margin-right: -$padding-grid-item !important;
    }
  }
}
.product-single__sub {
  background: $color_general_blur;
  @include border-radius(6px);
  padding: 20px 30px;
}
.product-single__sub-info {
  margin-right: 20px;
  font-size: 16px;
  font-weight: $fw_normal;
  margin-bottom: 0;
  line-height: 26px;
  span:first-child {
    display: inline-block;
    text-transform: uppercase;
    color: $color_general_light;
  }
}

.button--single-cart {
  font-size: $fs_btn_cart;
  text-transform: uppercase;  
  border-color: $border_btn_cart;
  color: $bkg_btn_cart;
  background: $border_btn_cart;
  font-family: $fm_second;
  &:hover {
    border-color: $border_btn_cart;
    color: $border_btn_cart;
    background: $bkg_btn_cart;
  }
  i {
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 5px;
  }
  i, span {
    line-height: 14px;
  }
}

.product-single__title {
  color: #000;
  font-size: 31px;
  font-weight: $fw_bold;
  line-height: 1.3em;
  font-family: $fm_second;
  @media(min-width: $min_tablet_small_width) {
    font-size: 34px;
  }
}
.button--media-single {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1;
  font-size: 16px;
}

.button--single-cart-full {
  width: calc(100% - 65px);
}

.sizechart-trigger {
  color: #999;
}

@-webkit-keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}

// Spec and IE10+
@keyframes progress-bar-stripes {
  from  { background-position: 40px 0; }
  to    { background-position: 0 0; }
}
// Call animation for the active one
//
// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
  @include animation(progress-bar-stripes 2s linear infinite);
}
.progress-bar {
  height: 100%;
  line-height: 20px;
  text-align: center;
  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
}
.progress-bar-striped, 
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

#quickViewPopup {
  .button--media{
    display: none;
  }
  .pg__mains {
    .slick-arrow {
      display: none !important;
    }
  }
}

/* Remove download link in Photoswipe */
.pswp__share--download {
  display: none;
}

.pg__thumbs--single {
  img {
    @include transition(none);
  }
}
.video-box {
  position: relative;
  height: 0;
  overflow: hidden;
  width: auto;
  iframe {
    position:absolute;
    top:0;
    left:1px;
    width:100%;
    height: 100%;
  }
}
.youtube-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.video-box--youtube {
  padding-bottom:62.49%;
}

.video-box--vimeo {
  padding-bottom: 43%;
}

.pg__thumb__link--video {
  &:before {
    font-family: 'BTWoodstock';
    content: '\e911';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgba(0, 0, 0, 0.9);
    font-size: 35px;
  }
}

.pg__sold-text, .pg__sales-number {
  padding: 0 3px;
}

.shopify-model-viewer-ui {
  position: absolute!important;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
model-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.no-light-box-icon {
  +.button--media {
    display: none;
  }
}